ion-card {
    padding: 10px;
}

ion-content {
    --background: lightgrey !important;
}

ion-button {
    text-transform: initial;
}

.logo-image {
    background: url(/assets/image/Plan_A_Technologies.png) 0 0/100% 100% no-repeat !important;
    height: 100%;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
