ion-card {
    padding: 10px;
    border-radius: 10px;
    width: 95%;
    height: 95%;
}

ion-card-title {
    color: grey !important;
}

ion-label {
    --color: grey !important;
}

ion-icon {
    color: grey !important
}

ion-title {
    padding: 10px;
    background-color: grey;
}

ion-toolbar {
    --background: grey !important;
}

ion-item {
    --background: lightgrey !important;
}

ion-list {
    background-color: lightgrey !important;
}